* {
  padding: 0;
  margin: 0;
}

:root {
  background-color: black;
  color: rgb(255, 255, 251);
  font-family: Roboto;
}

button {
  cursor: pointer;
}

.start__btn {
  padding: 40px;
  background-color: rgb(0, 255, 157);
  box-shadow: 2px 5px 30px 10px rgb(73, 255, 185);
  font-weight: 800;
  border: none;
  border-radius: 50%;
}

.hide {
   display: none;
}

.show {
  display: block;
}
